#cpp{ background-color: #92C2C0; }

#java{ background-color: rgb(67,51,128); }

#algorithms{ background-color: skyblue; color: #606060}

#algorithms-title{ font-size: 6.3em;  margin-right: 0}

#algorithms-description{ font-size: 1.25em}

#iOS{ background: linear-gradient(orange, orangered);}

#python{
    background-color: #3773A7;
    color: #FFD03F;
}

b{
    font-family: archiveregular, sans-serif;
}

.courseHighlight{
    background-color:lightgrey;
    height:190%;
    width:61%;
    position:absolute;
    z-index:-2;
}

.course-info{
    margin-top: 3em;
}

.lesson:first-child{
    margin-top: 2em;
}

b img{
    margin-right: 1em;
}

.lesson{
    padding-top: .625em;
    padding-bottom: .625em;
}

.number{
    font-size: 1.8em;
    margin-right: 0.9em;
}

.instructor-img{
    display: inline-block;
    height: 10em;
    margin: 0 0 0.5em 1em;
}

.space{
    opacity: 0;
}

.info button{
    margin-left: 30%;
}

