/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    .header-title{  font-size: 60px;  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
    .header-title{  font-size: 70px; margin-top:8%;  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
    .header-title{  font-size: 70px; margin-top:8%;  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
    .header-title{  font-size: 100px;  margin-top:6%; }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
    .header-title{  font-size: 100px; margin-top:6%;  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
    .header-title{  font-size: 100px; margin-top:6%;  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
    .header-title{  font-size: 125px; margin-top:5%;  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
    .header-title{  font-size: 125px; margin-top:5%; }
}

.sub-header-title,.header-title{font-family: archiveregular, sans-serif;  }

.header{
    color: white;
    padding-top: 1.75%;
    padding-bottom: 4%;
    box-sizing:border-box;
}

.header-title{margin-right: 10%;  }

.sub-header-title{  font-size: 33px; margin-bottom:1%; }

.header-description{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tracks{
    background-color:#23C3CD;
}