
header{
    height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ), url(../images/slideshow/DSC_0266.JPG);
    background-size: cover;
    position: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .wrapper{
    width:100%;
    height:inherit;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#logo{cursor:pointer;}
.btn{opacity:1 !important;}
#class{background-color:#3498db; color:white;}
h1{margin-bottom:3%;}

#letter{line-height:200%;font-size:1.1em;}

footer{background-color:rgb(52,50,54);color:white;padding:8%;}