@font-face {
    font-family: 'archiveregular';
    src: url('../fonts/archive-webfont.eot');
    src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/archive-webfont.woff2') format('woff2'),
    url('../fonts/archive-webfont.woff') format('woff'),
    url('../fonts/archive-webfont.ttf') format('truetype'),
    url('../fonts/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body{
    height:100%;
}

/* Large desktop */
@media (min-width: 1200px) {
    #home{
        padding-top:3.9%;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        padding-left: 70px;
        padding-right: 250px;
    }
    .htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .htmlh1{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;
        padding-left: 65px;

    }
    .javaPreview{
        font-size:43px;
        font-family:archiveregular;
    }
    .htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;
        padding-left: 65px;
    }
    .tile{
        padding-top:55% !important;
        padding-bottom:55% !important;
    }

    #aboutInfo{
        height:80px;
    }

    /* Contact us page */
    .emailBar{
        font-size:50px;
    }

    .icon{
        height:50px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 10%;
        padding-left: 8%;
        font-size: 150px;
    }

    #course-header{
        color: white;
        margin-top: 0;
        background-color: #23C3CD;
        padding-left: 5%;
        padding-top: 1.75%;
        padding-bottom: 4%;
    }

    #course-title{
        font-family: archiveregular;
        font-size: 150px;
        padding-top: 4%;
        padding-right: 10%;
    }

    #course-statement{
        padding-right: 18%;
        padding-left: 5%;
        font-size: 20px;
    }

    #course-circle{
        font-size: 26px;
    }
    #python-circle{
        font-size: 30px;
    }
    #web-circle{
        font-size: 30px;
    }
    #java-circle{
        font-size: 30px;
    }
    #cpp-circle{
        font-size: 32px;
    }
    #unity-circle{
        font-size: 25px;
    }
    #graphics-circle{
        font-size: 24px;
    }
    span {
        vertical-align: middle;
        line-height: normal;
    }
    #line1{
        padding-top: 28%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    #home{
        padding-top:3.9%;
    }
    .tile{
        padding-top:55% !important;
        padding-bottom:55% !important;
    }
    #aboutInfo{
        height:80px;
    }


    /* Contact us page */
    .emailBar{
        font-size:40px;
        text-align: center;
    }
    .javaPreview{
        font-size:43px;
        font-family:archiveregular;
    }
    .icon{
        height:40px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 10%;
        padding-left: 8%;
        font-size: 90px;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        padding-left: 70px;
        padding-right: 250px;
    }
    .htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px;
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .htmlh1, .html1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 125px;
        color: white;
        margin-top: 0px;
        padding-left: 65px;
    }

    #course-header{
        color: white;
        margin-top: 0;
        background-color: #23C3CD;
        padding-left: 5%;
        padding-top: 1.5%;
        padding-bottom: 3.5%;
    }

    #course-title{
        font-family: archiveregular;
        font-size: 100px;
        padding-top: 5%;
        padding-right: 10%;
    }

    #course-statement{
        padding-right: 12%;
        padding-left: 5%;
        font-size: 16px;
        text-align: justify;
    }

    #course-circle{
        font-size: 20px;
    }
    #python-circle{
        font-size: 22px;
    }
    #web-circle{
        font-size: 20px;
    }
    #java-circle{
        font-size: 24px;
    }
    #cpp-circle{
        font-size: 26px;
    }
    #unity-circle{
        font-size: 19px;
    }
    #graphics-circle{
        font-size: 18px;
    }
    span{
        vertical-align: middle;
        line-height: normal;
    }
    #line1{
        padding-top: 27%;
    }

}

/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    #home{
        padding-top:5%;
    }
    #welcome{
        font-size:20px;
    }
    .tile{
        padding-top:55% !important;
        padding-bottom:55% !important;
    }
    #contact-tile{
        font-size:20px;
    }
    .javaPreview{
        font-size:30px;
        font-family:archiveregular;
        margin-left:100px !important;
    }
    #aboutInfo{
        height:40px;
    }

    /* Contact us page */
    .emailBar{
        padding-top:10%;
        font-size:50px;
        text-align: center;
    }

    .icon{
        height:50px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 10%;
        padding-left: 7%;
        font-size: 80px;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        padding-left: 70px;
        padding-right: 150px;
    }
    .htmlDiv{
        margin:0px;
        padding-left: 50px;
        border:0px;
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .htmlh1, .htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 75px;
        color: white;
        margin-top: 0px;
        padding-left: 65px;
    }

    #course-header{
        color: white;
        margin-top: 0;
        background-color: #23C3CD;
        padding-left: 5%;
        padding-top: 1.5%;
        padding-bottom: 3.5%;
    }

    #course-title{
        font-family: archiveregular;
        font-size: 50px;
        padding-top: 9%;
        padding-right: 10%;
    }

    #course-statement{
        padding-right: 12%;
        padding-left: 5%;
        font-size: 16px;
        text-align: justify;
    }

    #course-circle{
        font-size: 15px;
    }
    #python-circle{
        font-size: 15px;
    }
    #web-circle{
        font-size: 14px;
    }
    #java-circle{
        font-size: 18px;
    }
    #cpp-circle{
        font-size: 20px;
    }
    #unity-circle{
        font-size: 12px;
    }
    #graphics-circle{
        font-size: 12px;
    }
    span{
        vertical-align: middle;
        line-height: normal;
    }
    #line1{
        padding-top: 23%;
    }
}

/* Landscape phones and down */
@media (max-width: 479px) {
    #home{
        padding-top:5%;
    }
    #welcome{
        font-size:15px;
    }
    .javaPreview{
        font-size:20px;
        font-family:archiveregular;
        margin-left:100px !important;
    }
    .htmlh1, .htmlh1_2{
        font-family: archiveregular;
        text-align: left;
        font-size: 37px;
        color: white;
        margin-top: 0px;
        padding-left: 65px;
    }
    .paragraph{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        padding-left: 70px;
        padding-right: 100px;
    }
    .htmlDiv{
        margin:0;
        padding-left: 25px;
        border:0;
        background-color:#F66337;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .tile{
        padding-top:30% !important;
        padding-bottom:30% !important;
    }
    #contact-tile{
        font-size:20px;
    }
    #aboutInfo{
        height:40px;
    }

    /* Contact us page */
    .emailBar{
        font-size:50px;
        text-align: center;
    }

    .icon{
        height:50px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 10%;
        padding-left: 8%;
        font-size: 150px;
    }

    #course-header{
        color: white;
        margin-top: 0;
        background-color: #23C3CD;
        padding-left: 5%;
        padding-top: 1.5%;
        padding-bottom: 3.5%;
    }

    #course-title{
        font-family: archiveregular;
        font-size: 50px;
        padding-top: 9%;
        padding-right: 10%;
    }

    #course-statement{
        padding-right: 12%;
        padding-left: 5%;
        font-size: 16px;
        text-align: justify;
    }

    #course-circle{
        font-size: 11px;
        display: block;
    }
    #python-circle{
        font-size: 15px;
    }
    #web-circle{
        font-size: 12px;
    }
    #java-circle{
        font-size: 15px;
    }
    #cpp-circle{
        font-size: 19px;
    }
    #unity-circle{
        font-size: 12px;
    }
    #graphics-circle{
        font-size: 11px;
    }
    span{
        vertical-align: middle;
        line-height: normal;
    }
    #line1{
        padding-top: 18%;
    }

}

.contactHeading{
    text-align: left;
    background: rgb(210,181,146);
    color:white;
}

.emailBar{
    padding-top:5%;
    padding-bottom:5%;
    color: white;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color:white;
}

.home-bg{
    display:none;
}

body{
    background: white;
    font-family: archiveregular, sans-serif;
}

p{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    opacity:3 !important;
}

a:hover{
    text-decoration: none;
}

.shaded{
    width:100%;
    height:100%;
    background-color: #204d74 !important;
    cursor:pointer;
}

.home-sec-title{
    text-align:center;
    margin:5%;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    padding: 5%;
    height:40%;
}

#slideshow > div {
    position: absolute;
    top: -10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align:center;
    margin-left:25%;
}
.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}

.panel-body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.girlsTalking{
    float:left;
    width:40%;
    margin-right:5%;
    height:auto;
}

.tile{
    margin:0 !important;
    padding:0;
    text-align:center;
    position: relative;
    color:white;
}

.row{
    margin:0;
}

.home-mission{
    background-color:white;
    padding-bottom:5%;
    padding-top:5%;
    line-height: 200%;
}

.element, .outro{
    position:relative;
    color:white;
    display:inline;
    font-size:50px;
}

#intro{
    text-align:center;
    padding:0;
    margin:0;
    color:white;
}

.row{
    margin:0;
    padding:0;
}

#about-tile{
    position:relative;
}


#aboutInfo{
    position: absolute;
    padding:1%;
    background-color: white;
    z-index: 2;
    opacity: .6;
    font-size:22px;
    height:80px;
    width:0;
}

.abt{
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.home-abt{
    padding-top:5%;
    padding-bottom:2%;
    color:rgb(52,50,54);
    font-size:50px;
    text-align:center;
}

.footer{
    background-color:rgb(52,50,54);
    padding: 8% 15% 5% 13%;
    color:white;
}

.footer-title{
    color:white;
}

#contact-tile{
    background-color: rgb(210,181,146);
}

#register-tile{
    background-color: rgb(45,99,99);
}

#blog-tile{
    background-color: rgb(202,131,108);
}

#courses-tile{
    background-color: rgb(61,125,147);
}

#intro{
    text-align:center;
    position:relative;
}

.element, .outro{
    position:relative;
    color:white;
    display:inline;
    font-size:50px;
}

.thumbnail{
    width:250px;
    height:auto;
}

.java{
    background-color: rgb(67,51, 128) !important;
    color:white !important;
}
#body{
    background-color: white;
    padding-top:0px;
}
.python{
    color:#FFD03F !important;
    background-color: #3773A7 !important;
}
.html{
    background-color:#F66337 !important;
    color:white !important;
}
.bootCamps{
    text-align:left;
    color:white;
    margin-left:20px;
    font-size: 22px;
}
.bootTiming{
    text-align:center;
    color:white;
    margin-top:-5px;
    font-size: 20px;
}
.timeText{
    text-align:center;
    color:white;
    padding-top:30px;
}
.unityColor{
    background-color:#ABC565 !important;

    color:white;
}
.cppColor{
    background-color:#92C2C0 !important;
    color:white;
}
.creamColor{
    /*  background-color: #EEE3C3; ---> cream color */
    background-color: #E9EAED;  /*  ---> messenger chat color    */
}

.coveredTopics{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 100px;
}
.footers{
    text-align: right;
    margin-top: -10px;
    margin-bottom: 0;
}
#footersPython{
    text-align: right;
    margin-bottom: 0;
    color:#FFD03F;
    background-color: #3773A7;
    padding-right: 50px;
    margin-top: 50px;
}

#circle-body{
    padding-top: 50px;
    padding-bottom: 0px;
    margin-top: 0px;
    background-color: #F8F8F8;
    z-index: 0;
}

.circle{
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    z-index: 1;
    position: absolute;
}

.center-span{
    display: block;
    vertical-align: middle;
    line-height: normal;      
}

#course-circle, #python-circle, #web-circle, #java-circle, #cpp-circle,
    #unity-circle, #graphics-circle{
    font-family: archiveregular;
}


#course-circle{
    background-color: #3B92CB;
}
#python-circle{
    background-color: #2D63B7;
}
#web-circle{
    background-color: #DD874F;
}
#java-circle{
    background-color: #663A98;
}
#cpp-circle{
    background-color: #92C2C0;
}
#unity-circle{
    background-color: #ABC565;
}
#graphics-circle{
    background-color: #C15562;
}

#courses-footer{
    margin-bottom: 0px;
    color:#FFD03F;
    background-color: #23C3CD;
    padding-right: 50px;
}

.navbar{
    font-family:archiveregular;
    font-size:18px;
}

hr{
    background-color:black;
}

@media (min-width: 885px) and (max-width: 992px){
    .emailBar{
        font-size:50px;
        text-align: center;
    }

    .icon{
        height:50px;
        width:auto;
    }

    .contactHeading{
        height:300px;
        padding-top: 10%;
        padding-left: 5%;
        font-size: 120px;
    }


}
#footersJava{
    text-align: right;
    margin-bottom: 0px;
    background-color: #353070;
    color:white;
    padding-right: 50px;
}
#footersHtml{
    text-align: right;
    margin-bottom: -5px;
    background-color:#F66337;
    color:white;
    padding-right: 50px;
}
#htmlDiv{
    margin-top: -10px;
}

.courseHighlight{
    background-color:rgba(156, 217, 234, 255);
    border-radius: 10px 0px 0px 10px;
    color:black;
    margin-left:20px;
      margin-right: 30px;
}

.contactHeading{
    height:300px;
    padding-top: 10%;
    padding-left: 5%;
    font-size: 80px;
}
.heading{
    text-align:center;
    margin-bottom: 5%;
    margin-top:0px;
    font-family: archiveregular;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color:white;
    font-size:50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.Inspiration {
    padding: 10% 0px 10% 0px;
}

#btn {
    background-color: rgb(85,255,153)!important;
    border: 1px solid rgb(200, 200, 200);
}

.left-offset {
    padding-left: 2%;
}

.weird-buffer {
    padding-top: 5%!important;
}

.white-bottom {
    background-color: white;
}

.bold {
    list-style-type: none;
    font-weight: bold;
}

.black-top {
    background-color: black;
    color: white;
    text-align: center!important;
    padding: 5% 0px 5% 0px;
    margin-bottom: 3%;
}

.buffer-small {
    height: 75px;
}

.complicated {
    padding-top: 125px;
}

.buffer {
    height: 110px;
}

#bottom2 {
    background-color: white;
    margin: 1% 4% 0px 4%;
}

#Description {
    padding: 2% 0px 0px 0px;
}

.top {
    background-color: white;
    margin: 100px 40px 10px 40px;
    padding: 60px 10px 10px 40px;
    color: rgb(100, 100, 100);
}

#top2 {
    text-align: center;
    background-color: white;
    margin: 100px 50px 0px 50px;
}

.red {
    background-color: red!important
}

.content-top {
    font-size: 20px;
}

.about {
    padding: 60px 10px 10px 50px;
    margin: 10px 40px 10px 40px;
    background-color: white;
    color: black;
}

.cont-about {
    padding-right: 40px;
}

.small {
    float: left;
    width: 20%;
    padding-bottom: 1%;
    padding-right: 1%;
}

.txt-img {
    float: right;
    width: 50%;
}